html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; // This will prevent scrolling
-webkit-overflow-scrolling: touch; // For smoother scrolling on touch devices
}

#root {
  height: 100%;
  overflow: hidden; // Prevent scrolling on the root div as well
}

/* Ensure .App covers the full viewport and centers its children */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use minimum of 100% viewport height */
  width: 100vw; /* Use 100% of the viewport width */
}
